<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssrij.ainotes">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="com.ssrij"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoteActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="New Note" />
        <activity android:name=".SearchActivity" android:theme="@style/AppThemeNoDefaultToolbar" android:label="Search"></activity>
    </application>

</manifest>